<?xml version="1.0" encoding="utf-8" ?>
<DragonflySiteTester>
  <!-- 
        Needed for HTTP Rendering, determines 
        URL of the default.aspx page on your host. I recommend you use
        127.0.0.1 and set the host header below to your domain to avoid 
        problems with name resolution, firewalls, etc. 
        
        You can also set this in the Web.config to support different environments:
          <add key="DragonflySiteTesterHttpUrl" value="http://SITE.com/default.aspx" />
          <add key="DragonflySiteTesterHttpHost" value="SITE.com" />
     -->
  <HttpUrl>http://127.0.0.1/default.aspx</HttpUrl>
  <!-- Domain name of your site e.g. www.yoursite.com -->
  <HttpHost></HttpHost>
  <!-- Rendering request timeout in seconds -->
  <HttpTimeout>360</HttpTimeout>
  <!-- Override default IIS timeout in seconds -->
  <ScriptTimeout>1200</ScriptTimeout>

  <!-- Location of the saved Test Result Sets-->
  <DataStoragePath>/App_Data/Umbraco8SiteTester/</DataStoragePath>

  <!-- Store Full Rendered HTML in ResultSets? 
  *Warning: This adds a LOT of extra data to saved result sets, 
  which means larger .json files and slower load-times for Viewing Results -->
  <StoreRenderedHtml>false</StoreRenderedHtml>

  <!-- Gather all on-page out-bound links and test them as well? 
  *Warning: This adds a LOT of extra data to saved result sets, 
  which means larger .json files and slower load-times for Viewing Results -->
  <AlsoTestOnPageLinks>false</AlsoTestOnPageLinks>

  <!-- Link Types to Test
  Available Options:
    External,
    InternalPage,
    InternalPageWithQueryString,
    InternalFile,
    Asset
-->
  <LinkTypesToTest>
    <LinkType>InternalPageWithQueryString</LinkType>
    <LinkType>InternalFile</LinkType>
 <!--   <LinkType>External</LinkType>
    <LinkType>Asset</LinkType>-->
  </LinkTypesToTest>

  <!-- Domains which are considered Internal (use a slash '/' at the beginning to match only a domain without any subdomain)-->
  <InternalDomains>
   <!-- <Domain>/mysite.com</Domain>
    <Domain>www.mysite.com</Domain>-->
  </InternalDomains>

  <!-- Extensions Representing Site Pages 
(Extensions not included here will be considered files)-->
  <PageExtensions>
    <Ext>aspx</Ext>
    <Ext>htm</Ext>
    <Ext>html</Ext>
  </PageExtensions>


  <!--
  Set this to override the server's local timezone when displaying dates/times in the results views
  Leave blank to use server time zone
  example: <LocalTimezone>Eastern Standard Time</LocalTimezone>
  -->
  <LocalTimezone>Eastern Standard Time</LocalTimezone>

  <!--
  These are strings which might indicate on-page (inline) errors, 
  such as compilation errors, runtime errors, grid control rendering issues, macro errors, etc.
      
  Rendered page HTML will be checked for these strings. To avoid false-positives, 
  make the strings as specific as possible, and not likely to be used in regular content text. 
  
  Adding you custom namespaces, if they are unique, can be a good idea (ex: <String>MySite.Core</String>)
    -->
  <InlineErrorStrings>
    <String>StackTrace</String>
    <String>System.Web</String>
    <String>ExceptionType</String>
    <String>An error has occurred</String>
    <String>Umbraco.Web.</String>
    <String>Umbraco.Core.</String>
    <String>System.Web</String>
    <String>Our.Umbraco.DocTypeGridEditor</String>
    <String>LeBlender</String>
    <String>ASP._Page_Views_Partials</String>
    <String>string[]</String>
    <String>System.NullReferenceException</String>
    <String>ASP._Page_Views_MacroPartials</String>
    <String><![CDATA[<!-- Error]]></String>
    <String><![CDATA[<!--Error]]></String>
    <!--  <String>Custom</string>
   <String>Custom</string>
   <String>Custom</string>-->
  </InlineErrorStrings>


</DragonflySiteTester>