@using Dragonfly.UmbracoSiteTester

@inject SiteTesterService TesterService

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<DateTime>
@{
	var config = TesterService.GetAppDataConfig();
}
@if (Model != DateTime.MinValue)
{
    <span>@HtmlHelpers.FormatUtcDateTime(config,Model.ToUniversalTime(), HtmlHelpers.TimezoneFormatOption.Abbreviated, DateFormat: "M/d/yyyy")</span>
}
@*else
    {
        <span> N/A </span>
    }*@